.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flexbox-vertical {
	flex-direction: column;
	justify-content: flex-start;
}

.flexbox-horizontal {
	flex-direction: row;
	justify-content: flex-start;
}