  <ul class="pagination" ng-style="style">
    <li>
      <a aria-label="Previous" ng-style="{'width': '16.666%', 'height': style.height}">
        <span aria-hidden="true"></span>
      </a>
    </li>
    <li><a ng-style="{'width': '16.666%', 'height': style.height}"></a></li>
    <li><a ng-style="{'width': '16.666%', 'height': style.height}"></a></li>
    <li><a ng-style="{'width': '16.666%', 'height': style.height}"></a></li>
    <li><a ng-style="{'width': '16.666%', 'height': style.height}"></a></li>
    <li>
      <a ria-label="Next" ng-style="{'width': '16.666%', 'height': style.height}">
        <span aria-hidden="true"></span>
      </a>
    </li>
  </ul>