			::-webkit-scrollbar { 
			    display: none; 
			}
			body {
				width: 100%;
				height: 100%;
				padding-top: 70px;
				overflow-x: hidden;
			}
			button:focus {outline:0;}
			
			.underline {
    			text-decoration: underline;
			}
			.custom-file-input::-webkit-file-upload-button {
			  visibility: hidden;
			}
			.custom-file-input::before {
			  content: '导入模板';
			  display: inline-block;
			  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
			  border: 1px solid #999;
			  border-radius: 3px;
			  padding: 5px 8px;
			  outline: none;
			  white-space: nowrap;
			  -webkit-user-select: none;
			  cursor: pointer;
			  text-shadow: 1px 1px #fff;
			  font-weight: 700;
			  font-size: 10pt;
			}
			.custom-file-input:hover::before {
			  border-color: black;
			}
			.custom-file-input:active::before {
			  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
			}
			.block-header {
				height: 25px;
				padding: 1px 1px 1px 16px;
			}
			.block-item {
				padding-bottom: 3px;
			}
			.block-item-body {

			}
			.block-item-footer {

			}
			.input-header {
				width: 90px;
			}
			.r-padding {
				padding-right: 30px;
			}
			.navigation-bar {
		    	width: 360px;
		    	height: 48px;
		    	background: black;
		    }
		    .status-bar {
		    	width: 360px;
		    	height: 25px;
		    	background: black;
		    }
			.screen {
				background: #eee;
				position: relative;
				width: 360px;
				height: 567px;
			}
			.activity {

			}
			.scroll {
				overflow: -moz-scrollbars-none;
				overflow-y: auto;
			}
			.list-button {
				background: white;
			}
			.list-button:hover,
			.list-button:focus,
			.list-button:active {
			  background: gray;
			}
			.ali-button {
				border-radius: 4px;
			}
			.ali-button:hover,
			.ali-button:focus,
			.ali-button:active {
			  background: gray;
			}
			.action-back:hover,
			.action-back:focus,
			.action-back:active {
			  background: gray;
			  padding-right: 8px;
			}
			.popup-win {
				background: white;
				border-radius: 4px;
		       -moz-box-shadow:0 0 5px 5px #C0C0C0;
		       -webkit-box-shadow:0 0 5px 5px #C0C0C0;
		       box-shadow:0 0 5px 5px #C0C0C0;
				margin: 0 auto;
			}